.login-wrapper {
  display: block;
  margin: 0 auto;
  min-height: max-content;
  width: max-content;
  padding: 3rem;
  background-color: #202020;
  border: 10px solid #202020;
  border-radius: 5%;
}
form {
  display: block;
  position: relative;
  padding: 10px;
  color: white;
}
.form-input {
  width: 100%;
  box-sizing: border-box;
  background-color: transparent;
  padding: 3px;
  margin-bottom: 1rem;
  border: none;
  border-bottom: 2px solid gold;
  outline: none;
  color: white;
}
.login-label {
  display: block;
  margin: 0 auto;
  padding: 5px;
}
.submit {
  min-width: 80px;
  padding: 3px;
  background-color: transparent;
  color: gold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  border: 1px solid gold;
  outline-style: groove;
}
.submit:hover {
  background-color: #203030;
}
.registration-link {
  display: block;
}
